{
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "emotion"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "emotion/syntax-preference": [1, "string"],
    "import/prefer-default-export": 0,
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/jsx-sort-default-props": 1,
    "react/jsx-sort-props": [
      1,
      { "shorthandFirst": true, "callbacksLast": true, "reservedFirst": true }
    ],
    "react/sort-prop-types": [1, { "requiredFirst": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
