{
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "emotion"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "emotion/syntax-preference": [2, "object"],
    "import/prefer-default-export": 0,
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/sort-prop-types": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
